body {
    height: 100vh;
}

.d {
    background-color: rgb(0, 0, 0);

}

.Nav {
    background-color: blueviolet;
}

#content{
    background-color: rgb(124, 247, 247);
    display: grid;
    grid-template-columns:repeat(3fr); 
    grid-row: repeat(3fr);
}

/* #header-video {
    width: 300px;
    height: 300px;
}

#img-menu {
    width: 350px;
    height: px;
}

#container-about {
    width: 350px;
    height: 250px;
} */

